/* noto-sans-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(ee3764412d1a1ee16a4e.woff2) format('woff2'), url(52416d7072271c0422c4.woff) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* noto-sans-cyrillic-400-normal*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(ac040a06c437eb0c3a58.woff2) format('woff2'), url(52416d7072271c0422c4.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* noto-sans-devanagari-400-normal*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(b7662f94b361e5dfba07.woff2) format('woff2'), url(52416d7072271c0422c4.woff) format('woff');
  unicode-range: U+0900-097F,U+1CD0-1CF6,U+1CF8-1CF9,U+200C-200D,U+20A8,U+20B9,U+25CC,U+A830-A839,U+A8E0-A8FB;
}
/* noto-sans-greek-ext-400-normal*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(a53d3a503b7febd2de61.woff2) format('woff2'), url(52416d7072271c0422c4.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* noto-sans-greek-400-normal*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(6d9214289c4388b7cff3.woff2) format('woff2'), url(52416d7072271c0422c4.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* noto-sans-vietnamese-400-normal*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(7ac08f5e4dcd5da42613.woff2) format('woff2'), url(52416d7072271c0422c4.woff) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;
}
/* noto-sans-latin-ext-400-normal*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(e6c5088b5e16fb24bef1.woff2) format('woff2'), url(52416d7072271c0422c4.woff) format('woff');
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
/* noto-sans-latin-400-normal*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(668fa41f4ecaf0c7ea97.woff2) format('woff2'), url(52416d7072271c0422c4.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* noto-sans-mono-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(238e4569af8dfae7b431.woff2) format('woff2'), url(9b830884d6226956f4cf.woff) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* noto-sans-mono-cyrillic-400-normal*/
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(0c016ae1e6e797ec0418.woff2) format('woff2'), url(9b830884d6226956f4cf.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* noto-sans-mono-greek-ext-400-normal*/
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(054f58cd4705281ba54a.woff2) format('woff2'), url(9b830884d6226956f4cf.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* noto-sans-mono-greek-400-normal*/
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(4f3886139a09fc172e90.woff2) format('woff2'), url(9b830884d6226956f4cf.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* noto-sans-mono-vietnamese-400-normal*/
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(21c82d01dbc965f1bff5.woff2) format('woff2'), url(9b830884d6226956f4cf.woff) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;
}
/* noto-sans-mono-latin-ext-400-normal*/
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(628f0ddcfa6b4d0685df.woff2) format('woff2'), url(9b830884d6226956f4cf.woff) format('woff');
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
/* noto-sans-mono-latin-400-normal*/
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(27e16379fee8cb9173dd.woff2) format('woff2'), url(9b830884d6226956f4cf.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


                body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
*.Storybook {
  height: 100vh;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 4rem 1fr;
}
*.Storybook-logo, *.Storybook-nav {
  border-color: hsla(0.0, 0.0%, 0.0%, 0.08);
  border-width: 1px;
  border-style: solid;
  border-top-style: none;
  border-left-style: none;
}
*.Storybook-logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  text-decoration-line: none;
  background-color: hsl(0.0, 0.0%, 98.04%);
  color: hsl(0.0, 0.0%, 15.69%);
}
*.Storybook-nav {
  grid-row-start: 2;
  overflow-y: auto;
  font-size: 0.875rem;
  background-color: hsl(0.0, 0.0%, 98.04%);
  border-bottom-style: none;
}
*.Storybook-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
*.Storybook-nav-section {
  margin: 1rem 0;
}
*.Storybook-nav-section-title {
  color: hsl(0.0, 0.0%, 22.75%);
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.625rem 2rem;
}
*.Storybook-link {
  display: block;
  text-decoration-line: none;
  padding: 0.625rem 2rem;
  color: hsl(0.0, 0.0%, 15.69%);
}
*.Storybook-link:hover, *.Storybook-link.is-active {
  color: hsl(207.06, 100.0%, 50.0%);
}
*.Storybook-main {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: -1;
  padding: 2rem;
  overflow: auto;
}
*.accordion__heading {
  margin: 0;
}
*.accordion__trigger {
  margin: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  border-style: none;
  text-align: start;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  background-color: hsl(210.0, 98.2%, 44.1%);
  color: hsl(210.0, 92.3%, 94.9%);
}
*.accordion__trigger:hover {
  background-color: hsl(210.0, 97.9%, 36.9%);
}
*.accordion__trigger:active {
  background-color: hsl(210.0, 98.7%, 29.4%);
}
*.accordion__trigger-indicator {
  font-family: "Noto Sans Mono", monospace;
  display: inline-block;
  width: 1em;
}
*.accordion__panel {
  overflow: hidden;
  transition-property: height;
  transition-duration: 250ms;
}
*.accordion__content {
  padding: 1rem;
}
              
